<!--h1 class="header">Login to Cloth Picker </h1>
<div class="container">
  <div class="row">
    <div class="col-lg-6 card">
      <img src="../../assets/images/cloths-hanging.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <button type="button" class="btn btn-danger btn-block" (click)="tryGoogleLogin()">Login with Google</button>
      </div>
    </div>
  </div>
</div-->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Cloth Picker</a>
  <button type="button" class="btn btn-danger " (click)="tryGoogleLogin()">Login with Google</button>
</nav>